html {
    font-size: 100%;


}

section,
iframe,
div {
    width: 100%;
    margin: 0;
    padding: 0;
}

body {

    /* background-color: rgb(217, 217, 214); */
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 0.8rem;
    overflow-x: hidden;

}

p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 0.8rem;

}

.black {
    /* background-color: black; */
    /* background-color:rgba(21,80,95,0) ; */
    background-color: rgb(0, 59, 92);
}

.df {
    display: flex;
    align-items: flex-end;
}

#map {
    width: 100%;
    height: 400px;
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.headertext {

    color: rgb(66, 65, 65);

    font-weight: 400;
    font-size: 5rem;
    /* line-height: 1;*/

}

.pr {
    padding-right: 1 rem;
}
.grey10rem {
    /* font-family: 'Montserrat'; */
    color: #191D27;
    font-weight: 600;
    font-size: 10rem;
    line-height: 1.1;
}

.grey6rem {
    /* font-family: 'Montserrat'; */
    color: #191D27;
    font-weight: 500;
    font-size: 4rem;
    line-height: 1.1;
}
.grey5rem {
    /* font-family: 'Montserrat'; */
    color: #191D27;
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 1.1;
}
.grey2rem {
    /* font-family: 'Montserrat'; */
    /* color: #191D27; */
    color: #009EFF;
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.1;
}
.grey2grem {
    /* font-family: 'Montserrat'; */
    /* color: #191D27; */
    color: grey;
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.1;
}


img {
    width: 100%;
    margin-top: 0;
}
a {
    
    color: #1468a0;
}

a:hover {
    color: lightgray;
    text-decoration: none;
    transition: 0.5s;
}

.lightgray {
    color: lightgray;
}

.whitesmoke {
    /* background:#303441;*/
    color: whitesmoke;
    text-decoration: none;
    text-decoration-line: none;
    list-style-type: none;

}

.grey {
    font-family: 'Montserrat', sans-serif;

    color: grey;


}

.roll {
    position: relative;
    display: inline-block;
}

.rollover {
    position: absolute;
    top: 0;
    left: 0;
}

.roll .rollover {
    display: none;
}

.roll:hover .rollover {
    display: block;
}

/* hr { border-top: 0px solid #e4e7e9; margin-bottom: 25px; margin-top: 25px; } */
.footer {
    /* background-color: #191D27; */
    background-color: black;
    padding-top: 20px;
    color: #636e74;
    font-weight: 300;
    font-size: 1rem;


}

.black {
    background-color: #191D27;
    
}

/* .footer-line { 
    border-color:  #636e74; } */

.footer-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 30px;
    color: #fff;
}

.footer-widget {
    font-size: 0.85rem;
    color: #fff;
    display: inline-block;
    font-weight: 300;
    padding-bottom: 0px;
    line-height: 1.5;
}



.tiny-footer {
    font-size: 10px;
    padding-top: 15px;
    padding-bottom: 5px;
    font-weight: 600;
    background-color: #191D27;
    color: #888d90;
    line-height: 1.5;
}


.mlwh {

    color: gray;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 5px;
}

.w200 {
    border: 0px solid transparent;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.1rem;
    color: rgba(0, 93, 108);
}

.w300 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
    box-align: center;
}

.w400 {
    border: 0px solid transparent;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;

}

.dummy {
    height: 1rem;
}

.dummy08 {
    height: 4rem;
}
.dummy06 {
    height: 6rem;
}

.dummy02 {
    height: 2rem;
}

ul li {
    background-color: transparent;
    text-decoration: none;
    list-style-type: none;
    margin-left: 0;
}

ul.menu {
    /* background-color: rgba(112, 112, 112, 0); */
    background-color: transparent;
    z-index: 1;
    text-decoration: none;
}

li.menu-text {
    /* background:#263846; */
    background-color: transparent;
    color: black;
    text-decoration: none;

}



.black {
    /* color: black; */
    /* background-color: rgb(0, 59, 92); */
}

.whitesmoke {

    color: whitesmoke;
}

.blue {

    /* color: #009EFF; */
    color: rgb(113, 219, 212);

}

.waterblue {
    background: cadetblue;
}

.myframegmap {

    border: 1px solid #f6f5f0;
    border-radius: 2px;
    height: 150px;
    width: 100%;
    box-shadow: 0px 0px 0px 0px #e7e4dc;
    overflow: hidden;
    position: relative;
    margin: 0 auto;

}


h1,
h2,
h3,
h4,
h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #1a1b1b;

}





dt {
    font-weight: 300;
    color: black;
}

.grey {


    color: grey;
}

.bl {

    color: grey;
}

.fl {
    display: flex;
    justify-content: center;
    align-items: baseline;


}

.flaround {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    align-content: center;
}

.cs209 {
    height: 184px;
}

.cs120 {
    height: 80px;
    width: 100px;
}

.shadow {
    -webkit-box-shadow: 0px 5px 10px -2px rgba(104, 104, 104, 1);
    -moz-box-shadow: 0px 5px 10px -2px rgba(100, 100, 100, 1);
    box-shadow: 0px 5px 10px -2px rgba(100, 100, 100, 1);
}

@media (max-width: 640px) {
    .mlwh {
        font-size: 1.2rem;
    }

}

@media (max-width: 1000px) {
    iframe {
        width: 900px;
        height: 400px;
    }
}
@media (max-width: 800px) {
    iframe,  .grey6rem {
        width: 700px;
        height: 300px;
    }
}

@media (max-width: 600px) {
    iframe, .grey6rem {
        width: 700px;
        height: 300px;
    }
}
@media (max-width: 400px) {
    iframe, grey6rem {
        width: 300px;
        height: 200px;
    }
}

@media (max-width: 300px) {
    iframe, .grey6rem {
        width: 300px;
        height: 200px;
    }
}
@media (max-width: 600px) {
    .clearfix .large .callout {
        background: #E1FAEA;
    }
}

@media (max-width: 965px) {
    .big {
        display: block;
        text-align: center;
    }
}

@media (max-width: 600px) {
    .logotext {
        font-size: 1rem;
        font-weight: 500;
        display: block;
        text-align: center;

    }
}

.iframedflex {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}




.mtp {
    margin-top: 30px;
}

.mtmb {
    box-sizing: content-box;
    margin-top: 1px;
    margin-bottom: 1px;
}

.sublogotext {
    display: inline-block;
    position: absolute;


    top: 0%;
    left: 0%;

    /* Оформление текста */
    color: #263846;
    font-family: 'Montserrat', sans-serif;


    /* Фон */


}


.white {
    background: #F4F3F4;
}



.socialmap {
    padding-top: 0.4rem;
    padding-bottom: 0.0rem;
    /* background-color: #263846;  */
    /* background-color:rgba(0,129,138,0.3) ; */
}

.social {


    /* background:#263846; */

    padding-top: 0.2rem;
    padding-bottom: 0.1rem;
    color: #636e74;
    font-weight: 300;
    font-size: 1rem;
}

.lgreen {
    background: #78C1B0;
}

.form {

    padding: 4rem 5rem;
    text-align: center;
}

.main-form {
    margin-bottom: 0;
    padding-bottom: 0;
}

.main-form-header {
    font-size: 1rem;
    margin-bottom: 2rem;
    text-align: center;
}

input {
    display: block;
    border: 1px solid maroon;
    width: 100%;
    padding: 1.5rem;
    margin: 2rem 0;
}

/* .main {
    height: 800px;
    background: url(../images/girl2000.jpg) center center no-repeat;
    background-size: cover;

}


.hhrr {
    border-bottom: 1px solid lightgray;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.lightgraybackground {
    background: lightgray;
} */

.maroon {
    color: maroon;
}
#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 25px;
    right: 10px;
    overflow: hidden;
    width: 52px;
    height: 52px;
    border: none;
    text-indent: 100%;
    background: url(../img/up.png) no-repeat 0px 0px;
  }
  /**********************card-profile-stats*************************************/

.card-profile-stats {
    border: 0px solid #cacaca;
    margin: 0 0 0 1.25rem;
    padding: 1.25rem;
    background: #fefefe;
  }
  
  .card-profile-stats .card-profile-stats-intro {
    text-align: center;
  }
  
  .card-profile-stats .card-profile-stats-intro .card-profile-stats-intro-pic {
    border-radius: 50%;
    margin: 0 0 1.25rem;
  }
  
  .card-profile-stats
    .card-profile-stats-intro
    .card-profile-stats-intro-content
    p:last-child {
    margin: 0;
  }
  
  .card-profile-stats .card-profile-stats-container {
    text-align: center;
  }
  
  .card-profile-stats
    .card-profile-stats-container
    .card-profile-stats-statistic {
    margin: 0 0 1.25rem;
  }
  
  .card-profile-stats
    .card-profile-stats-container
    .card-profile-stats-statistic
    p:last-child {
    margin: 0;
  }
  
  .card-profile-stats .card-profile-stats-more .card-profile-stats-more-link {
    margin: 0;
    text-align: center;
    font-size: 0.8rem;
    color: #0a0a0a;
    padding: 0.5rem;
    cursor: pointer;
  }
  
  .card-profile-stats .card-profile-stats-more .card-profile-stats-more-content {
    display: none;
  }
  .micro-stats {
    font-size: 0.85rem;
  }
  
  @media print, screen and (min-width: 64em) {
    .card-profile-stats .card-profile-stats-intro {
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      text-align: left;
    }
    .card-profile-stats .card-profile-stats-intro .card-profile-stats-intro-pic {
      margin: 0 1.25rem 0 0;
      max-width: 250px;
    }
    .card-profile-stats .card-profile-stats-container {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around;
    }
  }
  
  /**********card-profile-stats***********************/